<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[:-))]</key>  <string>im_face_001</string>
	<key>[:-S]</key>   <string>im_face_002</string>
	<key>[;-)]</key>   <string>im_face_003</string>
	<key>[:-)]</key>   <string>im_face_004</string>
	<key>[:-/]</key>   <string>im_face_005</string>
	<key>[:-P]</key>   <string>im_face_006</string>
	<key>[:\&quot;-)]</key>   <string>im_face_007</string>
	<key>[:-*]</key>   <string>im_face_008</string>
	<key>[:-O]</key>   <string>im_face_009</string>
	<key>[&gt;:-)]</key>   <string>im_face_010</string>
	<key>[B)]</key>   <string>im_face_011</string>
	<key>[:-(]</key>   <string>im_face_012</string>
	<key>[/:-)]</key>   <string>im_face_013</string>
	<key>[:,-(]</key>   <string>im_face_014</string>
	<key>[:-D]</key>   <string>im_face_015</string>
	<key>[:-|]</key>   <string>im_face_016</string>
	<key>[O:-)]</key>   <string>im_face_017</string>
	<key>[|-O]</key>   <string>im_face_018</string>
	<key>[:-B]</key>   <string>im_face_019</string>
	<key>[8-)]</key>   <string>im_face_020</string>
	<key>[:-SS]</key>   <string>im_face_021</string>
	<key>[:-?]</key>   <string>im_face_022</string>
	<key>[:-@]</key>   <string>im_face_023</string>
	<key>[*-:-)]</key>   <string>im_face_024</string>
	<key>[~o)]</key>   <string>im_face_025</string>
	<key>[)-|]</key>   <string>im_face_026</string>
	<key>[(L)]</key>   <string>im_face_027</string>
	<key>[@):-]</key>  <string>im_face_028</string>  
</dict>
</plist>
